{% extends "learning_blog/base.html" %} <!--Стандартно наследуемся от первичного шаблона-->

{% block content %} <!--Открыли блок с основным контентом дочерней страницы-->
  <a href="{% url 'learning_blogs_app:new_topic' %}"><button name="Ok">Добавить новую тему</button></a>

  <p>Темы:</p>

  <ul>
      {% for topic in topics %} <!--объявил в цикле переменную топик пока она в словаре топикс -->
        <li>
          <a href="{% url 'learning_blogs_app:topic' topic.id %}">{{ topic }}</a>
        </li> <!--выводит переменную топик, каждый раз когда пробегает по циклу фор и генерирует ссылку на тему -->
      {% empty %} <!--аналог else если пусто то выдаст сообщение ниже -->
        <li>Нет добавленных тем.</li>
      {% endfor %} <!--цикл закрылся -->

  </ul>

{% endblock content %} <!--Закрыли блок контента-->